<div class="message-container"></div>

<a href="#" class="reset-map-view"></a>

<div id="fiber-map">
</div>

<div class="legend cf">
  <div class="legend-item live">
    <div><span class="swatch"></span> <strong>Live</strong>: The fiber network has been laid and residents are able to sign up for service.</div>
  </div>

  <div class="legend-item live-no-capcity">
    <div><span class="swatch"></span> <strong>Live (capacity reached)</strong>: The fiber network has been laid but capacity reached; no new installations are available at this time unless the building is already wired.</div>
  </div>

  <div class="legend-item pending">
    <div><span class="swatch"></span> <strong>Pending</strong>: The network is still under construction and should be available in the near future; most of the dates for completion are for Fall of 2013..</div>
  </div>
</div>

<div class="footnote-container">
</div>